<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wangdao.mutilword"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- exam need -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- interpret need -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- bmob pay  sdk permission begin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- permission for sharesdk -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- bmob pay  sdk permission end -->
    <application
        android:name=".application.ApplicationInfo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name=".activity.RetrievePasswordActivity"/>
        <activity android:name=".activity.ReadActivity"/>
        <activity android:name=".activity.ChooseWordTypeActivity"/>
        <activity android:name=".activity.ReciteWordActivity"/>
        <activity android:name=".activity.ExamHomeActivity"/>
        <activity android:name=".activity.ShowArticleDetailActivity"/>
        <activity android:name=".activity.UserCenterDetailActivity"/>
        <activity android:name=".activity.ModifyUserInfoActivity"/>
        <activity android:name=".activity.SeeCollectedArtivleActivity"/>
        <activity android:name=".activity.AwardActivity"/>
        <activity android:name=".activity.ShowGoodDetailActivity"/>
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle">
        </activity>
        <activity
            android:name=".activity.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle">
        </activity>
        <activity
            android:name=".activity.ErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle">
        </activity>
        <activity
            android:name=".activity.ExamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle">
        </activity>
        <activity
            android:name=".activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle" />
        <activity
            android:name=".activity.ExamErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle" />
        <activity
            android:name=".activity.HisResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitlebarStyle"/>
        <activity android:name=".activity.HandlePayActivity"/>
        <activity android:name=".activity.ShowHadGoodDetailActivity"/>
        <activity android:name=".activity.SignActivity">
        </activity>
        <activity android:name=".activity.WordBookActivity">
        </activity>
        <activity android:name=".activity.MusicActivity"/>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.bmob.push.PushReceiver"
            android:process="cn.bmob.push">
            <intent-filter>
                <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name=".receiver.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>



        <!-- activity for sharesdk start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调`用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- activity for sharesdk  end-->

        <activity android:name=".activity.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WordTransActivity">
        </activity>
        <activity android:name=".activity.GuideActivity"></activity>
    </application>

</manifest>